<%= render 'layouts/header' %>

<div class="container">
    <table class="table table-hover">
        <% @fabrics.each do |f| %>
        <tr>
            <td><%= f.id %></td>
            <td><%= f.item.item %></td>
            <td><%= f.color.color %></td>
            <td><%= f.item_color_string %></td>
        </tr>
        <% end %>
    </table>
</div>