<%= render 'layouts/header' %>

<div class="container">
    <table class="table table-hover">
        <% @items.each do |f| %>
        <tr>
            <td><%= f.id %></td>
            <td><%= f.item %></td>
        </tr>
        <% end %>
    </table>
</div>