<%= render 'layouts/header' %>

<div class="container">
    <table class="table table-hover">
        <% @locations.each do |f| %>
        <tr>
            <td><%= f.id %></td>
            <td><%= f.location %></td>
        </tr>
        <% end %>
    </table>
</div>