<%= render 'layouts/header' %>

<div class="container">
    <table class="table table-hover">
        <tr>
            <th>Location</th>
            <th>Item Id</th>
            <th>Color</th>
            <th>Roll</th>
            <th>Kg</th>
            <th>Factory Meter</th>
            <th>Factory Yard</th>
            <th>Current Yard</th>
            <th>Lot</th>
            <th>Date Out of Warehouse</th>
            <th>Remarks</th>
        </tr>
        <% @sold_inventory.find_each do |f| %>
        <tr>
            <td><%= f.location.location %></td>
            <td><%= f.fabric.item.item %></td>
            <td><%= f.fabric.color.color %></td>
            <td><%= f.roll %></td>
            <td><%= f.kg %></td>
            <td><%= f.factory_meter %></td>
            <td><%= f.factory_yard %></td>
            <td><%= f.current_yard %></td>
            <td><%= f.lot.lot %></td>
            <td><%= f.date_out_warehouse %></td>
            <td><%= f.remark %></td>
        </tr>
        <% end %>
    </table>
</div>