<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#header_links" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">PickInventory</a>
        </div>
        <div class="collapse navbar-collapse" id="header_links">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Inventory <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/">Inventory</a></li>
                        <li><a href="/sold">Sold Inventory</a></li>
                        <li><a href="/out_of_stock">Out of Stock</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Picklists <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Daily Picklist</a></li>
                        <li><a href="#">Warehouse Pullsheet</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Sales Orders <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Create Sales Order</a></li>
                        <li><a href="#">Current Orders</a></li>
                        <li><a href="#">Sales Order History</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Elements* <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/lots">Lots</a></li>
                        <li><a href="/items">Items</a></li>
                        <li><a href="/colors">Colors</a></li>
                        <li><a href="/locations">Locations</a></li>
                        <li><a href="/fabrics">Fabrics</a></li>
                    </ul>
                </li>
            </ul>
        </div><!-- navbar-collapse -->
    </div><!-- container -->
</nav>